.html
{
	background-color: #DEDEDE;
}

#page
{
	z-index: 1;
	width: 1040px;
	min-height: 486px;
	padding-left: 20px;
	padding-top: 14px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

#u1632
{
	z-index: 2;
	width: 1040px;
	height: 45px;
	margin-right: -10000px;
}

#u1087
{
	z-index: 34;
	width: 445px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 314px;
}

#menuu95
{
	z-index: 3;
	width: 1040px;
	top: -7px;
	margin-bottom: -7px;
}

#u103
{
	width: 206px;
	min-height: 35px;
	margin-right: -10000px;
}

#u104
{
	width: 202px;
	padding-bottom: 14px;
}

#u104:hover
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u104:active
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u96
{
	width: 206px;
	min-height: 35px;
	margin-right: -10000px;
	left: 208px;
}

#u97
{
	width: 202px;
	padding-bottom: 14px;
}

#u104.MuseMenuActive,#u97:hover
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u97:active
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u152
{
	width: 206px;
	min-height: 35px;
	margin-right: -10000px;
	left: 416px;
}

#u153
{
	width: 202px;
	padding-bottom: 14px;
}

#u97.MuseMenuActive,#u153:hover
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u153:active
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u153.MuseMenuActive
{
	width: 202px;
	min-height: 0px;
	margin: 0px;
}

#u107-4,#u100-4,#u156-4
{
	width: 202px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#u138
{
	width: 207px;
	min-height: 35px;
	margin-right: -10000px;
	left: 624px;
}

#u139
{
	width: 203px;
	padding-bottom: 14px;
}

#u139:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u139:active
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u145
{
	width: 207px;
	min-height: 35px;
	margin-right: -10000px;
	left: 833px;
}

#u148
{
	width: 203px;
	padding-bottom: 14px;
}

#u139.MuseMenuActive,#u148:hover
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u148:active
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u148.MuseMenuActive
{
	width: 203px;
	min-height: 0px;
	margin: 0px;
}

#u140-4,#u150-4
{
	width: 203px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#pu1632,#pu3453
{
	width: 0.01px;
	position: relative;
}

#u3453
{
	z-index: 36;
	width: 1040px;
	height: 74px;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u1195
{
	z-index: 37;
	width: 1040px;
	position: relative;
	margin-right: -10000px;
}

#u1195_clip
{
	overflow: hidden;
	width: 1040px;
	height: 659px;
}

#u1195_img
{
	margin-bottom: -1px;
}

#u3360
{
	z-index: 39;
	width: 996px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	top: -38px;
	margin-bottom: -38px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

